.App {
  text-align: center;
  height: inherit;
}

#home-link {
  color: rgb(34, 19, 255);
  margin: 80px;
}

#stage {
  display: flex;
  height: inherit;
}

#main {
  width: 85%;
}

hr {
  border: 1px solid black;
  margin-bottom: 0px;
}